* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
.usuario-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.usuario-btn a svg {
  width: 30px;
  height: 30px;
  fill: #000;
  transition: fill 0.3s ease;
}

.usuario-btn a:hover svg {
  fill: #ff6600;
}

  body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #111;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .banner {
    background-image: url('https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b');
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
  
  .banner h1 {
    font-size: 3rem;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 100px;
  }
  
  section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .sobre, .planos, .contato {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .planos ul {
    list-style: none;
  }
  
  .planos li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding:20px;
  }
  